/* typography */
html {
  font-size: 62.5%;
}
body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  height: 100%;
}
h1 {
  font-size: 5rem;
  margin: 0;
  /* font-weight: bold; */
}
h2 {
  font-family: "Architects Daughter", cursive;
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 1.6rem;
}
header {
  position: sticky;
  top: 0;
}
/* nav */

a {
  text-decoration: none;
}
.logo {
  width: 60%;
}
.nav {
  background: url(../images/header-bg.jpg);
  display: flex;
  padding: 0 0 0 2rem;
  height: 10rem;
  position: relative;
}
.nav__list {
  background-color: #446286;
  padding: 2rem 2rem;
  display: none;
  position: absolute;
  right: 0;
  top: 5rem;
  font-size: 1.5rem;
}
#chkToggle {
  display: none;
}
#chkToggle:checked + ul.nav__list {
  display: flex;
  flex-direction: column;
}
.nav__item {
  padding: 0.5rem 2rem;
  display: inline-block;
  text-decoration: none;
  list-style: none;
  padding-left: 0;
  padding-bottom: 2rem;
}
.nav__item a {
  color: #fefefd;
}
.nav__item a:hover {
  color: #fefefd;
}
.nav__phone {
  position: absolute;
  top: 2rem;
  right: 7rem;
  color: #2e3d4d;
  font-size: 1.6rem;
}
.navbar__toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: #446286;
  font-size: 3.5rem;
}
/* main banner */
.main-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: linear-gradient(rgba(51, 51, 51, 0.3), rgba(51, 51, 51, 0.3)),
    url(../images/banner.jpg);
  background-repeat: no-repeat;
}
.banner-content {
  padding-left: 0;
  margin-top: 5rem;
  text-align: center;
  color: #fefefd;
  text-shadow: 0 0 15px black, 0 0 30px #333333, 0 0 40px #cccccc;
}

.btn-cta {
  background: #446286;
  color: #fefefd;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  margin: 5rem 0;
  outline: 0;
  padding: 2rem 4vw;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}
.btn-cta:hover {
  background: #2e3d4d;
}
.banner-line-1 {
  margin-left: auto;
  margin-right: auto;
  margin-top: -1.5rem;
  margin-bottom: 2rem;
  height: 0.3rem;
  width: 8rem;
  background-color: #fefefd;
}

@media screen and (min-width: 1025px) {
  /* typography */
  body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
  }
  h1 {
    font-size: 7rem;
  }
  h2 {
    font-family: "Architects Daughter", cursive;
    font-size: 5rem;
  }
  h3 {
    font-size: 3.5rem;
  }
  h4 {
    font-size: 2.6rem;
  }
  /* nav */
  a {
    text-decoration: none;
  }
  .nav__item a {
    color: #2e3d4d;
  }
  .logo {
    width: 60%;
  }
  .nav {
    background: url("../images/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    padding: 0 5rem 0 15rem;
    height: 10rem;
    position: relative;
  }
  .nav__list {
    display: flex;
    position: absolute;
    top: 4rem;
    right: 5rem;
    background-color: transparent;
    font-size: 1.6rem;
  }
  .nav__item {
    padding: 0.5rem 2rem;
    display: inline-block;
    text-decoration: none;
    list-style: none;
    padding-left: 0;
  }
  .nav__item a {
    color: #2e3d4d;
  }
  .nav__phone {
    position: absolute;
    top: 2rem;
    right: 11rem;
    color: #2e3d4d;
    font-size: 1.8rem;
  }
  .main-banner {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .banner-content {
    margin-top: 0;
    text-align: left;
    padding-left: 5rem;
  }
  .banner-line-1 {
    margin: -0.5rem 0 3rem 0;
  }
}
@media screen and (min-width: 769px) {
  #chkToggle:checked + ul.nav_list {
    display: flex;
  }
  .nav__item a {
    color: #2e3d4d;
  }
  .navbar__toggle {
    display: none;
  }
  .nav__list {
    display: flex;
    position: absolute;
    right: 5rem;
    background-color: transparent;
  }
  .main-banner {
    display: flex;
    flex-direction: row;
  }
  .banner-content {
    margin-top: 0;
    text-align: left;
    padding-left: 15rem;
  }
  .banner-line-1 {
    margin: -0.5rem 0 3rem 0;
  }
}
